.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100% !important;
    background: 0 0
}

.btn-circle:focus, .btn-circle:hover {
    color: #fff;
    outline: 0;
    background: rgba(255, 255, 255, .1)
}